/*
Error: Invalid US-ASCII character "\xE5"
        on line 109 of _variables2.scss
        from line 8 of screen.css.scss

104:   font-weight: 600;
105:   text-transform: uppercase;
106: }
107: 
108: %default-font {
109:   font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei","微软雅黑", STXihei, "华文细黑", sans-serif;
110:   @extend %base-font;
111: }
112: 
113: %header-font {
114:   font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei","微软雅黑", STXihei, "华文细黑", sans-serif;

Backtrace:
_variables2.scss:109
screen.css.scss:8
/Library/Ruby/Gems/2.3.0/gems/sass-3.4.23/lib/sass/util.rb:1300:in `rescue in block in find_encoding_error'
/Library/Ruby/Gems/2.3.0/gems/sass-3.4.23/lib/sass/util.rb:1297:in `block in find_encoding_error'
/Library/Ruby/Gems/2.3.0/gems/sass-3.4.23/lib/sass/util.rb:1296:in `each'
/Library/Ruby/Gems/2.3.0/gems/sass-3.4.23/lib/sass/util.rb:1296:in `each_with_index'
/Library/Ruby/Gems/2.3.0/gems/sass-3.4.23/lib/sass/util.rb:1296:in `find_encoding_error'
/Library/Ruby/Gems/2.3.0/gems/sass-3.4.23/lib/sass/util.rb:905:in `check_sass_encoding'
/Library/Ruby/Gems/2.3.0/gems/sass-3.4.23/lib/sass/engine.rb:436:in `check_encoding!'
/Library/Ruby/Gems/2.3.0/gems/sass-3.4.23/lib/sass/engine.rb:392:in `_to_tree'
/Library/Ruby/Gems/2.3.0/gems/sass-3.4.23/lib/sass/engine.rb:312:in `to_tree'
/Library/Ruby/Gems/2.3.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:326:in `block in visit_import'
/Library/Ruby/Gems/2.3.0/gems/sass-3.4.23/lib/sass/stack.rb:88:in `block in with_import'
/Library/Ruby/Gems/2.3.0/gems/sass-3.4.23/lib/sass/stack.rb:115:in `with_frame'
/Library/Ruby/Gems/2.3.0/gems/sass-3.4.23/lib/sass/stack.rb:88:in `with_import'
/Library/Ruby/Gems/2.3.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:325:in `visit_import'
/Library/Ruby/Gems/2.3.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
/Library/Ruby/Gems/2.3.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/Library/Ruby/Gems/2.3.0/gems/sass-3.4.23/lib/sass/stack.rb:79:in `block in with_base'
/Library/Ruby/Gems/2.3.0/gems/sass-3.4.23/lib/sass/stack.rb:115:in `with_frame'
/Library/Ruby/Gems/2.3.0/gems/sass-3.4.23/lib/sass/stack.rb:79:in `with_base'
/Library/Ruby/Gems/2.3.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `visit'
/Library/Ruby/Gems/2.3.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Library/Ruby/Gems/2.3.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `map'
/Library/Ruby/Gems/2.3.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Library/Ruby/Gems/2.3.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:169:in `block in visit_children'
/Library/Ruby/Gems/2.3.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/Library/Ruby/Gems/2.3.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:168:in `visit_children'
/Library/Ruby/Gems/2.3.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Library/Ruby/Gems/2.3.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:188:in `visit_root'
/Library/Ruby/Gems/2.3.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
/Library/Ruby/Gems/2.3.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:159:in `visit'
/Library/Ruby/Gems/2.3.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Library/Ruby/Gems/2.3.0/gems/sass-3.4.23/lib/sass/tree/root_node.rb:36:in `css_tree'
/Library/Ruby/Gems/2.3.0/gems/sass-3.4.23/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Library/Ruby/Gems/2.3.0/gems/sass-3.4.23/lib/sass/engine.rb:381:in `_render_with_sourcemap'
/Library/Ruby/Gems/2.3.0/gems/sass-3.4.23/lib/sass/engine.rb:298:in `render_with_sourcemap'
/Library/Ruby/Gems/2.3.0/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Library/Ruby/Gems/2.3.0/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Library/Ruby/Gems/2.3.0/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:209:in `each'
/Library/Ruby/Gems/2.3.0/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Library/Ruby/Gems/2.3.0/gems/sass-3.4.23/lib/sass/plugin.rb:82:in `update_stylesheets'
/Library/Ruby/Gems/2.3.0/gems/sass-3.4.23/lib/sass/exec/sass_scss.rb:340:in `watch_or_update'
/Library/Ruby/Gems/2.3.0/gems/sass-3.4.23/lib/sass/exec/sass_scss.rb:51:in `process_result'
/Library/Ruby/Gems/2.3.0/gems/sass-3.4.23/lib/sass/exec/base.rb:52:in `parse'
/Library/Ruby/Gems/2.3.0/gems/sass-3.4.23/lib/sass/exec/base.rb:19:in `parse!'
/Library/Ruby/Gems/2.3.0/gems/sass-3.4.23/bin/scss:13:in `<top (required)>'
/usr/local/bin/scss:22:in `load'
/usr/local/bin/scss:22:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid US-ASCII character \"\xE5\"\A         on line 109 of _variables2.scss\A         from line 8 of screen.css.scss\A \A 104:   font-weight: 600;\A 105:   text-transform: uppercase;\A 106: }\A 107: \A 108: %default-font {\A 109:   font-family: \"Open Sans\", \"Helvetica Neue\", Helvetica, Arial, \"Microsoft Yahei\",\"微软雅黑\", STXihei, \"华文细黑\", sans-serif;\A 110:   @extend %base-font;\A 111: }\A 112: \A 113: %header-font {\A 114:   font-family: \"Raleway\", \"Helvetica Neue\", Helvetica, Arial, \"Microsoft Yahei\",\"微软雅黑\", STXihei, \"华文细黑\", sans-serif;"; }
