# Embed Metadata

Embed metadata is information that can be embed into video/audio file. You can embed into file by adding a json compose these tag.

```json
"embedData": {
     "title": "Despacito",
     "artist": "Luis Fonsi",
     "album_artist": "",
     "album": "",
     "composer": "",
     "year": "2017",
     "track": null,
     "genre": "Nhạc trẻ",
     "description": null,
     "copyright": "Universal Music Latino",
     "network": null,
     "show": null,
     "episode_id": null
}
```

**Note**

<span style="color:red">To keep embedData of source file, tag value will be **null**</span>

<span style="color:red">To remove embedData of source file, tag value will be a string without value **""**</span>


**Tag list**

| Tags   | Type   | Description |
|-------------|--------|-------------|
| title | *string* | Title of video/audio |
| artist | *string* | Name of artist |
| album_artist | *string* | Artist of album  |
| album | *string* | Name of album |
| composer | *string* | Name of composer |
| year | *int(4)* | Published year |
| track | *int* | Order of track in album |
| genre | *string* | Genre |
| description | *string* | Video/Audio's description |
| copyright | *string* |  |
| network | *string* | Network channel |
| show | *string* | Name of show |
| episode_id | *int* | Episode number |


