## Retrieve Streaming Minutes

> REQUEST

```shell
curl -X GET \
  '<%= config[:endpoint] %>/billing/aggreate/streamingMinute' \
  -H 'Authorization: <%= config[:token] %>' \
  -H 'Cache-Control: no-cache' \
  -H 'Content-Type: application/json' \
  -d '{
  "fromDate":"04/01/2018",
  "toDate":"04/30/2018"
  }'
```
Retrieves the details streaming minutes of your both video & live.

> RESPONSE

```json
{
    "data": {
    "??????? Request list of data"
    },
    "version": 3,
    "datetime": "2018-06-13T16:27:06.917Z",
    "policy": "public",
    "requestId": "b2997244-3579-4898-86ae-c0395c2db1ee",
    "serviceName": "api",
    "message": "OK",
    "code": 200,
    "type": "SUCCESS"
}
```

**HTTP Request**

<span class="get-button"> GET </span>
```<%= config[:endpoint] %>/billing/aggreate/streamingMinute```







**ARGUMENTS**

| Parameter | Type | Description | Required |
| ------------- | ------------- | ------------- | ------------- |
| **fromDate** | *string* | Start date for list| **Yes** |
| **toDate** | *string* | End date for list| **Yes** |


**RETURNS**

| Parameter   | Type   | Description |
|-------------|--------|-------------------------|
| **url** | *string* | Your server URL for callback |
| **method** | *enum* | Method of callback (get-post-put..) |

