## The entity object

```json
{
  "id": "<%= config[:uiza_entity_id] %>",
  "name": "The Evolution of Dance",
  "description": "Judson Laipply did a fantastic job in performing various dance moves",
  "shortDescription": "How good a dancer can you be?",
  "view": 0,
  "poster": "<%= config[:sample_poster] %>",
  "thumbnail": "<%= config[:sample_thumbnail] %>",
  "type": "vod",
  "status": 1,
  "duration": "237.865215",
  "publishToCdn":"success",
  "metadataId": "16a9e425-efb0-4360-bd92-8d49da111e88",
  "embedMetadata": {
      "artist": "John Doe",
      "album": "Album sample",
      "genre": "Pop"
  },
  "extendMetadata": {
      "movie_category":"action",
      "imdb_score":8.8,
      "published_year":"2018"
  },
  "createdAt": "2018-06-16T18:54:15.000Z",
  "updatedAt": "2018-06-16T18:54:29.000Z"
}
```

**Attributes**

| Attribute | Description |
| ------------- | ------------- |
| **id** *string* | Unique identifier for the object.|
| **name** *string* | The video's name, meant to be displayable to end users. |
| **url** *text* | URL of media file (HTTP/HTTPS, FTP, S3). Send **empty string** if you upload with SDK |
| **inputType** *enum* | Type of URL (Acceptable values: [ **http**&vert;**s3**&vert;**ftp**&vert;**s3-uiza** ] ). If `URL` is **empty**, this attribute must be **s3-uiza**  |
| **description** *text* | The video's description, meant to be displayable to end users. Can contain up to 65,535 characters. |
| **shortDescription** *text* | The video's short description, meant to be displayable to end users. Can contain up to 250 characters. |
| **metadataId** *array* | MetadataID is [Category](#category) ID |
| **poster** *string* | The video's poster `URL`, meant to be displayable to end users.  |
| **thumbnail** *string* | The video's thumbnail `URL`, meant to be displayable to end users. |
| **type** *enum* | Has 2 types: VOD and AOD <span onclick="this.classList.toggle('inactive')" class = "tool-tip inactive"><br><i> VOD stand for Video On Demand. AOD stand for Audio On Demand.</i></span> |
| **duration** *string* | Duration of entity in seconds. Measured up to oneth million of a second. |
| **metadataIds** *array* | A list of categories of this entity. |
| **view** *number* | Total times this entity has been viewed. |
| **publishToCdn** *string* | Status of published task, possible values are [ **queue**, **not-ready**, **success**, **failed** ]
| **extendMetadata** *object* | A set of key-value pairs that you can attach to a video object, meant to be displayable to end users. |
| **embedMetadata** *object* | A set of predefined key-value pairs that you can attach to a video object, meant to be displayable to end users. See [Embed Metadata](#embed-metadata). |
| **createdAt** *datetime* | The time at which the entity was created. The format is [ISO 8601](https://www.w3.org/TR/NOTE-datetime-970915). |
| **updatedAt** *datetime* | The time at which the entity was last edited. The format is [ISO 8601](https://www.w3.org/TR/NOTE-datetime-970915). |